SQLAlchemy~=1.4.27
pydantic~=1.8.2
requests~=2.26.0
bs4~=0.0.1
beautifulsoup4~=4.10.0


{
  "data": [
    { //anime
      "url": "https://shikimori.one/animes/status/ongoing",
      "id":,
      "name": "Рейтинг короля",
      "name_rus": "",
      "name_alt": "",
      "type": "TV Сериал",
      "year": 2021,
      "total_episodes": ,
      "current_episodes":,
      "next_episode_date":,
      "started":,
      "genres":[],
      "score":,
      "rating":,
      "licensed_by":
      "studio":,
      "description": "",
      "related":,
      "author":,
      "main_heroes":
      "secondary_heroes":,
      "scenes":,
      "videos":,
      "similar":,
      "image_url": ""
    }
    { //character
      "url": "https://shikimori.one/animes/status/ongoing",
      "id":,
      "name": "Рейтинг короля",
      "name_rus":,
      "seiyu": "TV Сериал",
      "description": "",
      "image_url": ""
    }
    { //staff
      "url": "https://shikimori.one/animes/status/ongoing",
      "id":,
      "name": "Рейтинг короля",
      "name_rus":,
      "birth_date": "TV Сериал",
      "occupation":,
      "description": "",
      "titles":,
      "characters":,
      "image_url": ""
    }
    {
      "url":,
      "id":,
      "name":,
      "image_url":
    }
  ]
}